* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body { 
  padding: 0; 
  background: #fff url("./resources/bg.jpg") repeat-x; 
  background-size: 1px 100px;
  font: 0.8em/1.5 "arial",sans-serif; 
  color: #354146; 
}

/* nadpisy --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin:15px 0 10px 0; }
h1 { font-size:200%; font-family: Georgia;}
h1#logo {color: #ced1d2; text-decoration: none; display: block;padding: 18px 0px 17px; font-weight: normal; width: 891px; height:74px;}
h2 { font-size:130%; color: #354146;font-weight: bold; padding: 0;margin:0; }
h3 { font-size:120%; }
h4 { font-size:120%; }
h5 { font-size:100%; }

html {
	height : 100%;
	min-height : 100%;

}

.imgStyle{
	margin-top:10px;
	margin-bottom:10px;
	width:250px;
}

.center{
	display:block;
	text-align:center;
	float:none;
	margin:auto!important;
}

#layout { 

}

#header {
	width:891px; margin:0 30px; height:85px;
}

#intro{
    background: #e6e8e9;
}

#intro-in{
    width:861px; 
    margin:0 30px; 
    padding: 10px 0;
}


.headerPartPage{
	display: inline-block;
	border-bottom: 1px dashed rgb(255,255,255);
	font-size: 120%;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
             
/* horizontalni navigace --------------------------------------------------- */
.navbar{
	width:861px; 
    margin:0 -5px;
}

.nav.navbar-nav{
	border-radius: 3px;
    
    margin-top: -40px; ; padding:0; list-style:none;height: 35px;
    text-align: center;
}

.nav.navbar-nav li {
	float:left; display:block; margin:0; padding:0;
}

.nav.navbar-nav li a{
	float: left;
	font-size: 85%;
	color: #fff;
	text-decoration: none;
	padding: 12px 20px 10px;
	text-align: center;
    display: block;
    position: relative;
}

.nav.navbar-nav li:first-child a{
    border-radius: 3px 0 0 3px;
}
.nav.navbar-nav li:last-child a{
    border-radius: 0 3px 3px 0;
}

.nav.navbar-nav li a:hover, 
.nav.navbar-nav li a:focus{
    background: rgba(255,255,255,0);
    transition: all .3s 0s; 
} 

.nav.navbar-nav li a:active{
    background: linear-gradient(rgba(150,150,150,.2),rgba(150,150,150,.1)); 
    box-shadow: 0 0 2px rgba(150,150,150,.3) inset;
}

.nav.navbar-nav li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

.nav.navbar-nav li a:hover::before,
.nav.navbar-nav li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}

ul, ol { display:block; margin:0px 0 15px 40px; }

.noscreen { display:none; }


.glyphicon.glyphicon-chevron-down{
	color: #555;
	font-size: 12px;
}

@media (min-width: 768px) {
	.mdRight {
		float:right;
	}
	.mdHide{
		display:none;
	}
}
@media (max-width: 768px) {
	.mdRight {
		float:none;
	}
	.mdHide{
		display:inline;
	}
}

.inverse-dropdown{
	background-color: #222;
	border-color: #080808;
}
.inverse-dropdown li a{
	color: #999;
}
.inverse-dropdown li a:hover{
	color: white;
	background-color: #222;
}
.inverse-dropdown li a.active{
	color: white;
	background-color: black;
}
