<!-- HomePage Partial -->
<div id="eventPage" class="container" >
	<div style="float:left; width: 70%">
		<h1 class="headerPartPage"> Présentation</h1>
			<div class="writeBody">
		        {{home.presentation}}
	      	</div>
	</div>
	<div style="float:right; width: 25%">
		<img ng-src="data:{{image.filetype}};base64,{{image.base64}}" class="img-thumbnail imgStyle"/>
	</div>
	<div style="float:left; width: 70%">
		<h1 class="headerPartPage"> Contact </h1>
		<div class="writeBody">
			<div>{{home.name}} {{home.forename}}</div>
			<div>age : {{home.age}}</div>
			<div>mail : {{home.mailToContact}}</div>
			<div>Adresse : {{home.zipCode}} {{home.city}}</div>
		</div>
	</div>
</div>
