<!-- HomePage Partial -->
<div id="eventPage" class="container" >
<div class="hidden-xs">
	<div style="float:left; width: 70%">
		<h1 class="headerPartPage"> Présentation</h1>
			<div id="test" class="writeBody">
		        {{home.presentation}}
	      	</div>
	</div>
	<div style="float:right; width: 25%">
		<img ng-src="data:{{image.filetype}};base64,{{image.base64}}" class="img-thumbnail imgStyle"/>
	</div>
	<div style="float:left; width: 70%">
		<h1 class="headerPartPage"> Contact </h1>
		<div class="writeBody">
			<div>{{home.name}} {{home.forename}}</div>
			<div>age : {{home.age}}</div>
			<div>mail : {{home.mailToContact}}</div>
			<div>Adresse : {{home.zipCode}} {{home.city}}</div>
		</div>
	</div>
	</div>
<div class="visible-xs writeBody">
<div style="text-align:right"> {{home.name}} {{home.forename}}</div>
<br/>
<div> {{home.presentation}} </div>
<br/>
<div style="font-style:italic"> {{home.mailToContact}} </div>
</div>
</div>
