<div class="hidden-xs" id="intro">
    <div id="intro-in">
    <h2>Projets universitaires</h2>
    </div>
</div>
<div class="container" >
	<div ng-repeat="project in projects" >
		<h1 class="headerPartPage"> {{project.title}} <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="showState($index+1)"><span class="glyphicon glyphicon-chevron-down"></span></a>--></h1>
 		<!--<div class="{{$index+1}}" style="display:none">-->
			<div class="writeBody">{{project.description}}</div>
				<img ng-src="data:{{project.filetype}};base64,{{project.base64}}" class="img-thumbnail imgStyle hidden-xs" height="400" width="400"/>
			<div> 
			<ul class="writeBody">
				<li style="list-style:none"><i class="glyphicon glyphicon-play"></i> &#8239 Informations complémentaires :
					<ul>
						<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 Niveau : {{project.level}} </li>
						<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 Période : {{project.dateStarting}} - {{project.dateEnding}} </li>
						<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 Nombre de collaborateurs : {{project.teamNumber}} </li>
						<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 Méthodes de travail :<span ng-repeat="workMethod in project.workMethods"> {{workMethod}};</span> </li>
						<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 Technologies utilisées :<span ng-repeat="technologie in project.technologies"> {{technologie}};</span> </li>
					</ul>
				</li>
				<li class="hidden-xs" style="list-style:none"><i class="glyphicon glyphicon-play"></i> &#8239 Résultats :
					<ul>
						<div ng-repeat="result in project.results">
							<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 {{result.description}} : <br/><img ng-src="data:{{result.filetype}};base64,{{result.base64}}" class="img-thumbnail imgStyle" height="400" width="400"/>
							</li>
						</div>
					</ul>
				</li>
				<li style="list-style:none"><i class="glyphicon glyphicon-play"></i> &#8239 Expériences acquises : 
					<ul>
						<div ng-repeat="learning in project.learnings">
							<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 {{learning}}</li>
					</ul>
				</li>
				<li style="list-style:none"><i class="glyphicon glyphicon-play"></i> &#8239 Références :
					<ul>
						<div ng-repeat="reference in project.references">
							<li style="list-style:none"><i class="glyphicon glyphicon-ok"></i> &#8239 {{reference.name}} : {{reference.link}}</li>
					</ul>
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>