<div class="container" >
	<h1 class="headerPartPage"> Technologies utilisées pour développer ce site web </h1>
	<div class="writeBody">
	<ul>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Front-end : {{techno.frontEnd}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Serveur : {{techno.server}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Base de données : {{techno.database}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Hébergement du serveur en ligne : {{techno.onlineServer}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Hébergement de la base de données en ligne : {{techno.onlineDatabase}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Gestionnaire de configuration : {{techno.packaging}}</li>
		<li style="list-style:none"><i class="glyphicon glyphicon-share-alt"></i> &#8239 Sources : {{techno.sources}}</li>
	</ul>
	</div> 
</div>