<div class="container" >
	<h1 class="headerPartPage"> Technologies utilisées pour développer ce site web </h1>
	<div class="writeBody">
	<ul>
		<li> Front-end : {{techno.frontEnd}}</li>
		<li> Serveur : {{techno.server}}</li>
		<li> Base de données : {{techno.database}}</li>
		<li> Hébergement du serveur en ligne : {{techno.onlineServer}}</li>
		<li> Hébergement de la base de données en ligne : {{techno.onlineDatabase}}</li>
		<li> Gestionnaire de configuration : {{techno.packaging}}</li>
		<li> Sources : {{techno.sources}}</li>
	</ul>
	</div> 
</div>